body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.top {
  display: flex;
}

.top-width {
  width: 100%;
  margin-top: 100px;
  padding-top: 10px;
  padding-left: 170px;
}
.top-width img {
  width: 80%;
}

.top-width h1 {
  padding-left: 10px;
  border-left: 4px solid red;
  border-image: linear-gradient(FF5959);
}

.text-color {
  color: #ffad5a;
}

.buttons {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ff5959;
}

.my-mission h1 {
  text-align: center;
}
.flexible {
  display: flex;
  width: 80%;
  margin-left: 10%;
}
.mission {
  border-radius: 26px;
  margin: 20px 10px;
  padding: 40px 70px;
}

.mission-bg {
  width: 20%;
  background-color: #4f9da61a;
}
.vision-bg {
  width: 20%;
  background-color: #ff59591a;
}
.goals-bg {
  width: 20%;
  background-color: #fff4d6;
}

.mission img {
  width: 30%;
}

.develop-section {
  display: flex;
  margin-top: 100px;
  width: 100%;
  margin-left: 30px;
  padding: 10px 10px;
  background-image: url("images/shapes/shape-1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 200px;
}
.develop img {
  margin-left: 10%;
  width: 75%;
}
.develop-text {
  padding-left: 5%;
  padding-right: 9%;
  width: 100%;
}

.global-section {
  display: flex;
  margin-top: 100px;
  width: 100%;
  margin-left: 30px;
  padding: 10px 10px;
  background-image: url("images/shapes/shape-1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 150px;
}
.corona-section {
  display: flex;
  margin-top: 100px;
  width: 100%;
  margin-left: 30px;
  padding: 10px 10px;
  background-image: url("images/shapes/shape-6.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 190px;
}

.footer-section h1 {
  font: Lobster;
  padding-top: 44px;
  text-align: center;
}

.footer-section {
  text-align: center;
  width: 100%;
  background: #0b0d17;
  height: 177px;
  color: white;
}

.text-red {
  color: #ff5959;
}
