body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

/* Top section */
.top {
  display: flex;
}

.top-banner {
  width: 100%;
  margin-top: 100px;
  padding-top: 10px;
  padding-left: 170px;
}
.top-banner img {
  width: 80%;
}

.top-banner h1 {
  padding-left: 10px;
  border-left: 4px solid red;
  border-image: linear-gradient(FF5959);
}

.text-color {
  color: #ffad5a;
}

/* top section end */

/* button for all */

.buttons {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ff5959;
}
/* button end */

/* My Mission Section Start */
.my-mission h1 {
  text-align: center;
}
.mission-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
}
.mission {
  border-radius: 26px;
  margin: 20px 10px;
  padding: 40px 70px;
}

.mission-bg {
  width: 20%;
  background-color: #4f9da61a;
}
.vision-bg {
  width: 20%;
  background-color: #ff59591a;
}
.goals-bg {
  width: 20%;
  background-color: #fff4d6;
}

.mission img {
  width: 30%;
}

/* My Mission Section End */

/* Develop Section Start */

.develop-section {
  display: flex;
  margin-top: 100px;
  width: 100%;
  margin-left: 30px;
  padding: 10px 10px;
  background-image: url("images/shapes/shape-1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 200px;
}

/* Develop Section End */

/* Community part for Global and Develop section */
.community img {
  margin-bottom: 100px;
  margin-left: 10%;
  width: 75%;
}
.community-text {
  padding-left: 5%;
  padding-right: 9%;
  width: 100%;
}
/* Community part end */

/* Global section start*/

.global-section {
  display: flex;
  margin-top: 100px;
  width: 100%;
  margin-left: 30px;
  padding: 10px 10px;
  background-image: url("images/shapes/shape-1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 220px;
}

/* Global section End*/

/* Covid Section Start */
.covid-section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.covid-info p {
  padding: 10px 40px;
}
.covid-info {
  font-weight: 800;
  color: white;
  text-align: center;
  padding-top: 60px;
  background-image: url("images/pictures/banner.jpg");
  background-size: 100%;
  height: 700px;
  width: 100%;
}
/* Covid Section End */

/* Footer section start */
.footer-section {
  text-align: center;
  width: 100%;
  background: #0b0d17;
  height: 177px;
  color: white;
}

.footer-section h1 {
  font: Lobster;
  padding-top: 44px;
}

.text-red {
  color: #ff5959;
}

/* Footer Section */
